<h1>Stupid Coaching</h1>
<div class="container">
  <%= @input %>
  <p><i>- You</i></p>
</div>
<div class="container">
  <%= @coachanswer %>
  <p><i>- Your coach</i></p>
</div>
<div id="link">
  <%= link_to "Ask another question!", ask_path %>
</div>
